<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Kendo UI Web Widgets</li>
        <li><a href="{{ page.prefix }}web/AutoComplete.html" >AutoComplete</a></li>
        <li><a href="{{ page.prefix }}web/Calendar.html" >Calendar</a></li>
        <li><a href="{{ page.prefix }}web/ComboBox.html" >ComboBox</a></li>
        <li><a href="{{ page.prefix }}web/DatePicker.html" >DatePicker</a></li>
        <li><a href="{{ page.prefix }}web/DropDownList.html" >DropDownList</a></li>
        <li><a href="{{ page.prefix }}web/Editor.html" >Editor</a></li>
        <li><a href="{{ page.prefix }}web/Grid.html" >Grid</a></li>
        <li><a href="{{ page.prefix }}web/ListView.html" >ListView</a></li>
        <li><a href="{{ page.prefix }}web/Menu.html" >Menu</a></li>
        <li><a href="{{ page.prefix }}web/NumericTextBox.html" >NumericTextBox</a></li>
        <li><a href="{{ page.prefix }}web/PanelBar.html" >PanelBar</a></li>
        <li><a href="{{ page.prefix }}web/RangeSlider.html" >RangeSlider</a></li>
        <li><a href="{{ page.prefix }}web/Slider.html" >Slider</a></li>
        <li><a href="{{ page.prefix }}web/Splitter.html" >Splitter</a></li>
        <li><a href="{{ page.prefix }}web/TabStrip.html" >TabStrip</a></li>
        <li><a href="{{ page.prefix }}web/TimePicker.html" >TimePicker</a></li>
        <li><a href="{{ page.prefix }}web/TreeView.html" >TreeView</a></li>
        <li><a href="{{ page.prefix }}web/Upload.html" >Upload</a></li>
        <li><a href="{{ page.prefix }}web/Window.html" >Window</a></li>
        <li class="nav-header">Kendo UI DataViz Widgets</li>
        <li><a href="{{ page.prefix }}dataviz/Chart.html" >Chart</a></li>
        <li><a href="{{ page.prefix }}dataviz/RadialGauge.html" >RadialGauge</a></li>
        <li><a href="{{ page.prefix }}dataviz/LinearGauge.html" >LinearGauge</a></li>
    </ul>
</div>